@using SimulationExam.Web.Models

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Edit activity</h2>

@model Activity

<div>
    <hr />
    @using (Html.BeginForm("Update", "Activity", FormMethod.Post))
    {
        <div class="form-group">
            <label for="activityId">Id</label>
            <input type="text" class="form-control" id="activityId" name="activityId" value="@Model.Id" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="activityName">Name</label>
            <input type="text" class="form-control" id="activityName" name="activityName" value="@Model.Name">
        </div>
        <hr />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>List of dates</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ActivityDate activityDate in Model.ActivityDate)
                {
                    string dateValue = String.Format("{0:d/M/yyyy}", activityDate.Date);
                    <tr>
                        <td class="text-center">
                            <input type="text" class="form-control" name="listDates" value="@dateValue">
                            <input type="hidden" class="form-control" name="listDateIds" value="@activityDate.Id">
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteActivityDate", new { id = @activityDate.Id }, new { @class = "btn btn-danger", data_role = "delete-link" })
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <a href="#" class="btn btn-success" data-role="add-activity-date">Add date</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>


